  @font-face {
    font-family: 'Personalized';
    src: url('data/Vector_O.otf') format('opentype');
  }

  html {
    width: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: "", sans-serif;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: black;
  }

  .HOME {
    display: block;
    position: absolute;
    float: left;
    top: 5vh;
    left: 5vw;

  }

  .ABOUT {
    display: block;
    position: absolute;
    float: left;
    top: 5vh;
    left: 9vw;
    background-color: black;
  }

  .WORK {
    display: block;
    position: absolute;
    float: left;
    top: 5vh;
    left: 15vw;
  }

  .redes {
    display: block;
    position: relative;
    filter: invert(1);
    top: 25vh;
    left: 2vw;
    z-index: 1;
  }

  .pinterest {
    display: block;
    position: absolute;
    float: left;
    width: 4%;
    height: auto;
    margin-left: 40vw;
    margin-top: 50vh;
    background-color: white;
  }

  .insta {
    display: block;
    position: absolute;
    float: right;
    width: 3%;
    height: auto;
    margin-top: 51vh;
    margin-left: 48vw;
    background-color: white;
  }

  .linkedin {
    display: block;
    position: absolute;
    float: right;
    width: 4%;
    height: auto;
    margin-left: 55vw;
    margin-top: 50vh;
    background-color: white;
  }

  .name {
    position: absolute;
    font-size: 10vw;
    cursor: grab;
    z-index: -1;
    -webkit-user-select: none;
    user-select: none;
    mix-blend-mode: difference;
    font-family: 'Personalized', sans-serif;
  }

  .contact-form {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 50vw;
    height: 50vh;
    top: 15vh;
    left: 25vw;
    border-radius: 10px;
    background-color: rgba(153, 153, 153, 0.9);
  }

  input,
  textarea {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 0.75rem 1rem;
    width: 20vw;
    margin-bottom: 1rem;
    border-radius: 6px;
    transition: 0.3s;
  }

  input {
    position: relative;
    top: 5vh;
    left: 3vw;
  }

  textarea {
    position: relative;
    width: 30vw;
    min-height: 15vh;
    top: 10vh;
    left: 10vw;
  }

  input:focus,
  textarea:focus {
    border-color: #999;
    outline: none;
  }

  button {
    position: relative;
    background: white;
    color: black;
    top: 15vh;
    right: 9vw;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
  }

  button:hover {
    background: #999;
    color: white;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    background-color: black;
    color: white;
    font-size: 0.9rem;
  }