  @font-face {
    font-family: 'Personalized';
    src: url('data/Vector_O.otf') format('opentype');
  }

  html {
    overflow-x: hidden !important;
  }

  body {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

  header {
    display: block;
    position: absolute;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    z-index: 100;
  }

  img {
    display: block;
    position: relative;
    top: 30vh;
    left: 25vw;
    border-radius: 10%;
    border: 2px solid white;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    cursor: none;
    user-select: none;
  }

  .ABOUT {
    display: block;
    position: fixed;
    float: left;
    top: 5vh;
    left: 5vw;
    background-color: black;
  }

  .WORK {
    display: block;
    position: fixed;
    top: 5vh;
    left: 10vw;
    background-color: black;
  }

  .CONTACT {
    display: block;
    position: fixed;
    float: left;
    top: 5vh;
    left: 15vw;
    background-color: black;
  }

  .draggable {
    position: absolute;
    font-size: 10vw;
    cursor: grab;
    -webkit-user-select: none;
    user-select: none;
    mix-blend-mode: difference;
    z-index: -100;
    font-family: 'Personalized', sans-serif;
  }