  body {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: "Roboto flex", sans-serif;
    margin: 0;
  }

  header {
    display: block;
    position: absolute;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    z-index: 100;
  }

  .ABOUT {
    display: block;
    position: fixed;
    margin-top: 5vh;
    margin-left: 80vw;
    background-color: black;
  }

  .WORK {
    display: block;
    position: fixed;
    margin-top: 5vh;
    margin-left: 90vw;
    background-color: black;
  }

  .draggable {
    position: absolute;
    font-size: 10vw;
    cursor: grab;
    -webkit-user-select: none;
    user-select: none;
    mix-blend-mode: difference;
    z-index: -100;
  }