  @font-face {
    font-family: 'Personalized';
    src: url('data/Vector_O.otf') format('opentype');
  }

  html {
    width: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: "", sans-serif;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: black;
  }

  .HOME {
    display: block;
    position: absolute;
    float: left;
    top: 5vh;
    left: 5vw;

  }

  .WORK {
    display: block;
    position: absolute;
    float: left;
    top: 5vh;
    left: 10vw;
  }

  .CONTACT {
    display: block;
    position: fixed;
    float: left;
    top: 5vh;
    left: 15vw;
    background-color: black;
  }

  text {
    display: block;
    position: absolute;
    font-weight: bold;
    width: 50vw;
    height: auto;
    float: right;
    top: 25vh;
    left: 25vw;
    color: black;
    padding: 2%;
    background-color: rgba(235, 235, 235, 0.9);
  }

  .name {
    position: absolute;
    font-size: 10vw;
    cursor: grab;
    z-index: -1;
    -webkit-user-select: none;
    user-select: none;
    mix-blend-mode: difference;
    font-family: 'Personalized', sans-serif;
  }