html {
  width: 100%;
  overflow: hidden;
  background-color: black;
  color: white;
  font-family: "Roboto flex", sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: black;
}

.HOME {
  display: block;
  position: absolute;
  float: right;
  margin-top: 5vh;
  margin-left: 80vw;
 
}

.WORK {
  display: block;
  position: absolute;
  float: right;
  margin-top: 5vh;
  margin-left: 90vw;
}

.foto {
  display: block;
  position: absolute;
  width: 40%;
  height: auto;
  float: left;
  margin-top: 25vh;
  margin-left: 30vw;
  filter: saturate(0);
}

.texto {
  display: block;
  position: absolute;
  font-weight: bold;
  width: 20vw;
  height: 40vh;
  float: right;
  margin-top: 30vh;
  margin-left: 48vw;
  color: black;
}

.redes {
  display: block;
  position: relative;
  filter: invert(1);
  z-index: 1;
}

.pinterest {
  display: block;
  position: absolute;
  float: left;
  width: 5%;
  height: auto;
  margin-left: 47vw;
  margin-top: 65vh;
}

.insta {
  display: block;
  position: absolute;
  float: right;
  width: 4%;
  height: auto;
  margin-top: 66vh;
  margin-left: 55vw;
}

.linkedin {
  display: block;
  position: absolute;
  float: right;
  width: 5%;
  height: auto;
  margin-left: 62vw;
  margin-top: 65vh;
}

.name {
  position: absolute;
  font-size: 10vw;
  cursor: grab;
  z-index: -1;
  -webkit-user-select: none;
  user-select: none;
  mix-blend-mode: difference;
}